h1{
    color:blue;
}

#home-intro{
    text-align:center;
    border: 3px;
    border-color:black;
    border-style:solid;
    border: 3px solid blue;
}
#home-intro:hover{
    background-color:greenyellow;
}
#p1{
    color:red;
}
#p2{
    color:rgb(226, 43, 122);
}
